.about {
    background-image: linear-gradient(180deg, white 60%, #FFDBE3 40%);
    min-height: calc(100vh - 3rem);
}

.aboutText {
    display: flex;
    justify-content: center;
    align-items: top;
}
.aboutTextStyle {
    text-align: justify;
    margin: 4rem;   
    font-family: 'Spartan', sans-serif;
    
}

.aboutTextStyle h1 {
    font-family: 'Spartan', sans-serif;
}
.myPhoto {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myPhotoStyle {
    width: 70%;
    height: auto;

}
.heartStyle {
    color: red;
}