.aboutText {
    display: flex;
    justify-content: center;
    align-items: top;
}
.aboutTextStyle {
    text-align: justify;
    margin: 50px;
    
      
      
      
     
}
.myPhoto {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myPhotoStyle {
    width: 70%;
    height: auto;

}