.home {
  height: 100%;
  background-image: linear-gradient(170deg, white 60%, #FFDBE3 60%);
}

.myNameHome {
  color: #EE1873;
  /* color: #ff3566; */
}
.myTitle {
  color: #000000;
}
.myTitle,
.myNameHome {
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Spartan", sans-serif;
}
#root .home .quote {
  text-align: end;
  /* color: #000000; */
}

.quoteCOntent {
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
}
