.home {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../images/markus-spiske-8OyKWQgBsKQ-unsplash.jpg);
    background-size: cover;
}
.myNameTitle {
    background-color: #f7ce3e;
}
.myTitle {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #0a1612;
}
.quotation {
    align-self: flex-end;
}