.home {
  height: 100%;
  background-image: linear-gradient(170deg, white 60%, #ffdbe3 60%);
}

.myNameHome {
  color: #ff3566;
}
.myTitle {
  color: #000000;
}
.myTitle,
.myNameHome {
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Spartan", sans-serif;
}
#root .home .quotation {
  text-align: end;
  color: #000000;
  font-family: "Satisfy", cursive;
}

.quotation q {
  font-style: italic;
}
