


html, body, #root, .container-fluid, .row {
    height: 100vh;
}

.container .row .col {
    padding: 0;
}


.nav {
    height: 100%;
    font-family: 'Spartan', sans-serif;
    background-color: #000000;
    color:white;
    min-width: 250px;
    position: fixed;
    z-index: 2;
} 
.myName{
    text-align: center;
}



    


.app {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 250px;
  } 
 

.app li a {
    color:white;
    text-decoration: none;
    letter-spacing: 0;
}
.app li a:hover, .app li a:active {
    letter-spacing: 5px;
    text-decoration: underline;
    color: #FFDBE3;
}
