


html, body, #root, .container-fluid, .row {
    height: 100vh;
}

.container .row .col {
    padding: 0;
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1A2930;
} 
.nav .profilePicture {
    max-width: 150px;
    height: auto;
    border-radius: 8%;
    margin-top: 20px;
    margin-left: 40px;
    
}
.nav .myName {
    color: white;
    padding-left: 40px;
}
.app {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
  } 
 

.app li a {
    color:white;
    text-decoration: none;
    letter-spacing: 0;
}
.app li a:hover, .app li a:active {
    letter-spacing: 5px;
    text-decoration: line-through;
}