html,
#root,
.contact {
  background-color: #ffdbe3;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .card {
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .media {
    height: 10rem;
    width: auto;
  }
}
@media only screen and (min-width: 601px) {
  .card {
    margin: 1rem 1rem 0 1rem;
    padding: 1rem;
  }
  .media {
    height: 20rem;
    width: auto;
  }
}
@media only screen and (min-width: 961px) {
  .card {
    margin: 2rem 5rem 0 5rem;
    padding: 1rem;
  }
  .media {
    height: 30rem;
    width: auto;
  }
}

a {
  color: black;
  text-decoration: underline #ff3566;
}
a:hover {
  color: #c5c1c0;
  text-decoration: underline #ff3566;
}
