.myForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
}
.submitButton {
  width: 5rem;
  margin: 3rem;
  padding: 0.5rem 1rem;
  background-color: #f7ce3e;
  border: none;
  border-radius: 0.2rem;
  font-size: 1rem;
}
.buttons {
  display: flex;
}
