html, #root, .contact {
    background-color: #FFDBE3;
    height: 100%;
}
@media only screen and (max-width: 600px){
    .card {
            margin: 5px;
            padding: 5px;
        }
    }
    @media only screen and (min-width: 601px) {
    .card {  
           margin: 20px;
           padding: 20px; 
        }
    }
    @media only screen and (min-width:1280px) {
    .card {
        margin: 50px;
        padding:50px;
        }
    }
.media {
    height: 500px;
    width: auto;
}
a {
    color: black;
    text-decoration: underline #FF3566;
}
 a:hover {
     color: #c5c1c0;
     text-decoration: underline #FF3566;
 }